#! /bin/sh
### BEGIN INIT INFO
# Provides:          sdl.rc
# Required-Start:    $all
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:
# Short-Description: Run /etc/sdl.rc if it exist
### END INIT INFO


PATH=/sbin:/usr/sbin:/bin:/usr/bin

. /lib/init/vars.sh
. /lib/lsb/init-functions

do_start() {
    /usr/bin/smartDeviceLinkCore &
}

do_stop() {
    kill -9 `pgrep $1`
    rm /tmp/$1.*
}

case "$1" in
    start)
	do_start
        ;;
    restart|reload|force-reload)
        echo "Error: argument '$1' not supported" >&2
        exit 3
        ;;
    stop)
        do_stop smartDeviceLinkCore
        ;;
    *)
        echo "Usage: $0 start|stop" >&2
        exit 3
        ;;
esac
